.img-portfolio {
    display: inline;
    size:500px;
    width:500px;


}
.img-port{
    display: inline;
    size:155px;
    width:155px;

}
.interest{
    padding: -0;
    /*background: dodgerblue;*/
    background-color: lightblue;

}

.social-icon {
    font-size: 4.5em;
    vertical-align: middle;
    margin: 15px;
}

.link-color {
    color: #080808;
}
.portfolio-item{
    font-size: 25px;

}
