.img-portfolio {
    display: inline;
    max-width: 265px;

}

.interest{
    padding: -0;
    /*background: dodgerblue;*/
    background-color: lightblue;

}

.social-icon {
    font-size: 4.5em;
    vertical-align: middle;
    margin: 15px;
}/*
.header {
    background: url(../img/Houtx.jpg) no-repeat center center fixed;
    width: 100%;
}*/
.link-color {
    color: #080808;

}
